body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header {
  color: #333;
}

.sub-header {
  color: #888;
  margin-top: -10px;
  margin-bottom: 20px;
}

.upload-btn-container {
  margin-bottom: 20px;
}

.upload-btn {
  padding: 10px 20px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #0b7dda;
}

.config {
  margin-bottom: 20px;
}

.config-item {
  margin-bottom: 10px;
}

.config-text {
  font-weight: bold;
  margin-bottom: 10px;
}

#imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  margin-bottom: 20px;
}

.image-wrapper {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.image-wrapper img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#downloadButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#downloadButton:hover {
  background-color: #45a049;
}

.watermark {
  color: #888;
}
